## Data_Engineering_Porject_01

# Creat table in PosgreSQL using Python

## Import the PostgreSLQ Python plugin

In [124]:
!pip install psycopg2

!pip install psycopg2-binary

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\lib\site-packages (2.9.3)
Requirement already satisfied: psycopg2-binary in c:\users\admin\anaconda3\lib\site-packages (2.9.3)

# Import the library

In [125]:
import psycopg2

## Create connexion to the database

In [126]:
try:
    conn = psycopg2.connect(host="localhost",database="postgres", user="postgres", password="admin")
except pyscopg2.Error as e:
    print('Error: Could not make connection to the Postgres database')
    print(e)

# Use the connexion to get a cursor that can be used to execute quieries

In [127]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error could not get the Database")
    print(e)

# Set automatic commit to be true

In [128]:
conn.set_session(autocommit=True)

# Create a Databse into postgreSQL to do the work in

In [129]:
try:
    cur.execute("CREATE DATABASE mydataengineeringdb")
except psycopg2.Error as e:
    print("Error could not create the Database")
    print(e)

Error could not create the Database
database "mydataengineeringdb" already exists

# Check you database postgreSQL CLI '\l'

# Close my first connexion and connect to my new db

In [141]:
#close connexion
try:
    conn.close()
except psycopg2.Error as e:
    print("Error could close the Database")
    print(e)


    # connect to my new db    
try:
    conn = psycopg2.connect(host="localhost",database="mydataengineeringdb", user="postgres", password="admin")
except pyscopg2.Error as e:
    print('Error: Could not make connection to the Postgres database')
    print(e)
    
#activate de cursor    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error could not get the Database")
    print(e)
    
#Set automatic commit to be true
conn.set_session(autocommit=True)

In [142]:
#Create Table for employee table which includes below column

In [143]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS departments (department_id int, department_name varchar);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e) 


try:
    cur.execute("CREATE TABLE IF NOT EXISTS locations (location_id int, location_name varchar);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)  
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS employees (employee_id int, employee_fname varchar,employee_lname varchar,  department_id int, location_id int);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

In [144]:
try:
    cur.execute("INSERT INTO  departments (department_id , department_name  )\
    VALUES(%s,%s)",\
               (1,"IT"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
    
try:
    cur.execute("INSERT INTO   departments (department_id , department_name )\
    VALUES(%s,%s)",\
               (2,"Finance"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO   departments (department_id , department_name  )\
    VALUES(%s,%s)",\
               (3,"HR"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

In [145]:
try:
    cur.execute("INSERT INTO  locations (location_id , location_name)\
    VALUES(%s,%s)",\
               (1,"swaziland"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO  locations (location_id, location_name)\
    VALUES(%s,%s)",\
               (2,"US"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
try:
    cur.execute("INSERT INTO  locations (location_id , location_name  )\
    VALUES(%s,%s)",\
               (3,"Brezil"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO  locations (location_id , location_name  )\
    VALUES(%s,%s)",\
               (4,"Moroco"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

In [147]:
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (1,"Thomas","Diene",3,3))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (2,"Reggie","Reed",1,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)


try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (3,"Patrick","Horrigan",1,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (4,"Jenna","Biden",2,1))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (5,"Micheal","Barack",2,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)