## Data_Engineering_Porject_02

 1- Find Dataset fom link (this part will be in Porject Part_1)
 2- Build Data Model (this part will be in Porject Part_1)
 3- Write Python code to create table structure (this part will be in Porject Part_1)
 4- Insert Data from file to database (this part will be in Porject Part_2)
 5- Build Web application to visualize the data using Python (this part will be in Porject Part_3)
 6- Connect Database to Tableau for also data visualistion (this part will be in Porject Part_4)

# Creat table in PosgreSQL using Python

## Import the PostgreSLQ Python plugin

In [124]:
!pip install psycopg2

!pip install psycopg2-binary

Requirement already satisfied: psycopg2 in c:\users\admin\anaconda3\lib\site-packages (2.9.3)
Requirement already satisfied: psycopg2-binary in c:\users\admin\anaconda3\lib\site-packages (2.9.3)

# Import the library

In [125]:
import psycopg2
import pandas as pd

# Close my first connexion and connect to my new db

In [141]:
#close connexion
try:
    conn.close()
except psycopg2.Error as e:
    print("Error could close the Database")
    print(e)


    # connect to my new db    
try:
    conn = psycopg2.connect(host="localhost",database="mydataengineeringdb", user="postgres", password="admin")
except pyscopg2.Error as e:
    print('Error: Could not make connection to the Postgres database')
    print(e)
    
#activate de cursor    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error could not get the Database")
    print(e)
    
#Set automatic commit to be true
conn.set_session(autocommit=True)

# Create Tables

In [143]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS departments (department_id int, department_name varchar);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e) 


try:
    cur.execute("CREATE TABLE IF NOT EXISTS locations (location_id int, location_name varchar);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)  
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS employees (employee_id int, employee_fname varchar,employee_lname varchar,  department_id int, location_id int);")
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

# INSERT Data into departments table

In [144]:
try:
    cur.execute("INSERT INTO  departments (department_id , department_name  )\
    VALUES(%s,%s)",\
               (1,"IT"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
    
try:
    cur.execute("INSERT INTO   departments (department_id , department_name )\
    VALUES(%s,%s)",\
               (2,"Finance"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO   departments (department_id , department_name  )\
    VALUES(%s,%s)",\
               (3,"HR"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

# INSERT Data into locations table

In [145]:
try:
    cur.execute("INSERT INTO  locations (location_id , location_name)\
    VALUES(%s,%s)",\
               (1,"swaziland"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO  locations (location_id, location_name)\
    VALUES(%s,%s)",\
               (2,"US"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
try:
    cur.execute("INSERT INTO  locations (location_id , location_name  )\
    VALUES(%s,%s)",\
               (3,"Brezil"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

try:
    cur.execute("INSERT INTO  locations (location_id , location_name  )\
    VALUES(%s,%s)",\
               (4,"Moroco"))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

# INSERT Data into employees table

In [147]:
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (1,"Thomas","Diene",3,3))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (2,"Reggie","Reed",1,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)


try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (3,"Patrick","Horrigan",1,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)
    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (4,"Jenna","Biden",2,1))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

    
try:
    cur.execute("INSERT INTO  employees (employee_id, employee_fname, employee_lname, department_id , location_id)\
    VALUES(%s,%s,%s,%s,%s)",\
               (5,"Micheal","Barack",2,2))
except psycopg2.Error as e:
    print("Error could not create the table")
    print(e)

# Select data from employees table

In [153]:

try:
    cur.execute("select * from employees;")
except psycopg2.Error as e:
    print("Error could not select the data")
    print(e)

row =cur.fetchone()
while row:
    print(row)
    row= cur.fetchone()

(1, 'Thomas', 'Diene', 3, 3)
(2, 'Reggie', 'Reed', 1, 2)
(3, 'Patrick', 'Horrigan', 1, 2)
(4, 'Jenna', 'Biden', 2, 1)
(5, 'Micheal', 'Barack', 2, 2)

# Close the connexion

In [154]:
cur.close()
conn.close()